.editable {
  display: inline-block;
  padding: 3px;
}

/* Forces <Draggable /> to fit it's content */
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
